

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins",sans-serif ;
}
:root{
    --main-color:#f0b30f;
}

.theme-text{
    color: var(--main-color);
}
.act{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.navbar ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.header{
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6))  ,url(./pexels-fauxels-3183197.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size:cover;
    position: relative;

}
.wave{
    position: absolute;
    bottom: -70px;
    right: 0;
}



.middle{
    height: 80vh;
    width: 80%;
    display:flex;
    justify-content: start;
    align-items: center;

}
.middle h1{
    font-size: 68px;
}



